<!Doctype html>

<div class="nav_menu" id = 'nav_menu' onclick="navClick(event)">
	<a link = 'profile'>
		<div class="menu_item--desc">
			<img src="/img/profile.svg">
			<span>Профиль</span>
		</div>
	</a>
	<a link = 'schedule'>
		<div class="menu_item--desc">
			<img src="/img/schedule.svg">
			<span>Расписание</span>
		</div>
	</a>
	<a link = 'groups'>
		<div class="menu_item--desc">
			<img src="/img/groups.svg">
			<span>Группы</span>
		</div>
	</a>
	<a link = 'courses'>
		<div class="menu_item--desc">
			<img src="/img/courses.svg">
			<span>Курсы</span>
		</div>
	</a>
	<a link = 'chat'>
		<div class="menu_item--desc">
			<img src="/img/chat.svg">
			<span>Чат</span>
		</div>
	</a>
	<a link = 'tests'>
		<div class="menu_item--desc">
			<img src="/img/tests.svg">
			<span>Тесты</span>
		</div>
	</a>
	<a link = 'homework'>
		<div class="menu_item--desc">
			<img src="/img/homework.svg">
			<span>Домашка</span>
		</div>
	</a>
	<a link = 'exit'>
		<div class="menu_item--desc">
			<img src="/img/exit.svg">
			<span>Выход</span>
		</div>
	</a>
</div>