.profile_cont
{
	margin: 5vh 0 0 10vh;
	width: 70vh;
	height: 70vh;
	/*background: #eaeaea;*/
	background: #E6E6FA;
	border: .2vh solid lightgray;
	text-align: center;
	position: relative;

	font-size: 5vh;
	font-family: sans-serif;
}

.profile_ava
{
	cursor: pointer;
	height: 25vh;
	margin-top: 2vh;
	border: .3vh solid gray;
	padding: 1vh;
}

.profile_name
{
	margin-top: 2vh;
}

.profile_age
{
	margin-top: 2vh;
}
.profile_tel
{
	margin-top: 2vh;
}

.profile_redact
{
	position: absolute;
	bottom: 2vh;
	right: 2vh;
	height: 4vh;
	width: 25vh;
	font-size: 2.5vh;
	font-family: sans-serif;
	cursor: pointer;
}

.profile_input
{
	display: block;
	margin: 0 auto 2vh;
	height: 3vh;
	font-size: 3vh;
	font-family: sans-serif;
	border: 0;
	padding: 1vh;
	border: .2vh solid black;
}

.profile_err
{
	font-size: 3vh;
	color: red;
	display: none;
	margin: 0;
}