.MainContent
{
	margin-top: 5vh;
	margin-left: 5vh;
	height: 80vh;
	width: 85%;
    border: .1vh solid #E0FFFF;
}
.MainCourseHead
{
	text-align: center;
	font-size: 3rem;
	height: 15%;
	background: #e6edf4;
	border-bottom: 1vh solid white;
}
.MainCompanyName{
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5vh;
}

.MainCourseName{
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4vh;
}

.MainCourseBody{
	overflow-y: auto;
	overflow-x: hidden;
	background: white;
	height: 85%;
	position: relative;
}

.MainCourseContent{
	display: inline-table;
    margin-left: 5%;
    margin-top: 2vh;
    margin-right: 2%;
    width: 65%;
    font-size: 5vh;
    color: #97b2ca;
    min-height: 65vh;
}

.MainCourseInfo
{
	display: inline-table;
    width: 25%;
    margin-right: 2%;
    margin-top: 2vh;
    position: relative;
    text-align: center;
}

.MainCourseInfo div
{
	font-size: 2.5vh;
	margin-top: 1vh;
}

.MainButton
{
	width: 80%;
	height: 4.5vh;
	border-radius: 1vh;
	outline: none;
	border: none;
	cursor: pointer;
	background: #e6edf4;
	border: .1vh solid #E0FFFF;
	margin-top: .5vh;
	color: black;
	font-size: 70%;
}

.MainButton:hover
{
	background: lightblue;
}

.requestBlock
{
	width: 90%;
	margin: 10vh auto 1.8vh auto;
	background: #e6edf4;
	padding: 2vh 0 2vh 0;
	text-align: center;
}

.requestTitle
{
	text-align: center;
	margin: 0 10% 0 10%;
	width: 80%;
	font-size: 4vh;
}

hr
{
	margin: 0;
}

.requestDayName
{
	width: 20vh;
}
.requestDays div
{
	margin: 1vh 0 1vh 2vh;
	font-size: 3vh;
	display: inline-block;
}

.requestDays img
{
	display: inline-block;
	cursor: pointer;
	max-width: 3vh;
}

.requestSelector
{
	width: 15vh;
	padding: 0.7vh;
	margin: .5vh;
}

.requestAccept
{
	width: 20%;
	height: 4.5vh;
	border-radius: 1vh;
	outline: none;
	border: none;
	cursor: pointer;
	background: lightblue;
	border: .1vh solid #E0FFFF;
	margin-top: .5vh;
	color: black;
	font-size: 80%;
	margin-left: 75%;
}

.requestAccept:hover
{
	background: skyblue;
	border: .1vh solid white;
}

.requestTeachers h2
{
	text-align: center;
}

.requestTeachers div
{
	margin-top: 1vh;
	margin-left: 15%;
	width: 70%;
	height: 5vh;
	border-bottom: .2vh solid gray;
}

.requestTeachers button
{
	float: right;
    margin-right: 2vh;
    border-radius: 1vh;
    outline: none;
    border: none;
    cursor: pointer;
    background: lightblue;
    border: .1vh solid #E0FFFF;
    color: black;
    font-size: 80%;
    height: 4vh;
    width: 30%;
}

.requestTeachers button:hover
{
	background: skyblue;
	border: .1vh solid white;
}

.requestTeachers p
{
	display: inline;
	margin: 0;
	margin-top: 1vh;
	font-size: 4vh;
}